name: delete

on:
  workflow_dispatch:

jobs:
  delete:
    runs-on: ubuntu-latest
    steps:
      - name: Delete counter (admin)
        uses: Appegy/Abacus@v1
        with:
          operation: delete
          namespace: appegy
          key: smoke
          admin_key: ${{ secrets.ADMIN_KEY_SMOKE }}
